<a href="https://colab.research.google.com/github/mohmaed7777/Data-Visualization-with-Python/blob/master/Intro_to_Matplotlib_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploring Datasets :**

In [0]:
# The first thing we'll do is to import the two key data analysis modules pandas & numpy :
import pandas as pd 
import numpy as np

In [0]:
# The dataset contains annual data on the flows of international immigrants to Canada as recorded by the countries of destination.
# The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals.
# The current version presents data pertaining to 45 countries.

In [3]:
# Read our dataset as pandas dataframe !
df_can = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)
print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [4]:
# Let's to view the top 5 rows of the dataset by using head() method:
df_can.head()

         Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
0  Immigrants  Foreigners     Afghanistan   935  ...  1758  2203  2635  2004
1  Immigrants  Foreigners         Albania   908  ...   561   539   620   603
2  Immigrants  Foreigners         Algeria   903  ...  4752  4325  3774  4331
3  Immigrants  Foreigners  American Samoa   909  ...     0     0     0     0
4  Immigrants  Foreigners         Andorra   908  ...     0     0     1     1

[5 rows x 43 columns]

In [5]:
# We can also view the bottom 5 rows of the dataset by using the tail() method :)
df_can.tail()

           Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
190  Immigrants  Foreigners        Viet Nam   935  ...  1942  1723  1731  2112
191  Immigrants  Foreigners  Western Sahara   903  ...     0     0     0     0
192  Immigrants  Foreigners           Yemen   935  ...   211   160   174   217
193  Immigrants  Foreigners          Zambia   903  ...   102    69    46    59
194  Immigrants  Foreigners        Zimbabwe   903  ...   494   434   437   407

[5 rows x 43 columns]

In [6]:
# When analyzing a dataset, it's always a good idea to start by getting basic information about your dataframe.
# We can do this by using the info() method.
df_can.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      195 non-null    object
 1   Coverage  195 non-null    object
 2   OdName    195 non-null    object
 3   AREA      195 non-null    int64
 4   AreaName  195 non-null    object
 5   REG       195 non-null    int64
 6   RegName   195 non-null    object
 7   DEV       195 non-null    int64
 8   DevName   195 non-null    object
 9   1980      195 non-null    int64
 10  1981      195 non-null    int64
 11  1982      195 non-null    int64
 12  1983      195 non-null    int64
 13  1984      195 non-null    int64
 14  1985      195 non-null    int64
 15  1986      195 non-null    int64
 16  1987      195 non-null    int64
 17  1988      195 non-null    int64
 18  1989      195 non-null    int64
 19  1990      195 non-null    int64
 20  1991      195 non-null    int64
 21  1992      195 non-null    int64
 22  1993      195 non-null    int64
 23  1994      195 non-null    int64
 24  1995      195 non-null    int64
 25  1996      195 non-null    int64
 26  1997      195 non-null    int64
 27  1998      195 non-null    int64
 28  1999      195 non-null    int64
 29  2000      195 non-null    int64
 30  2001      195 non-null    int64
 31  2002      195 non-null    int64
 32  2003      195 non-null    int64
 33  2004      195 non-null    int64
 34  2005      195 non-null    int64
 35  2006      195 non-null    int64
 36  2007      195 non-null    int64
 37  2008      195 non-null    int64
 38  2009      195 non-null    int64
 39  2010      195 non-null    int64
 40  2011      195 non-null    int64
 41  2012      195 non-null    int64
 42  2013      195 non-null    int64
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [7]:
# get the list of column headers we can call upon the dataframe's
df_can.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [8]:
# Similarly, to get the list of indicies we use the .index parameter
df_can.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194])

In [9]:
# Note: The default type of index and columns is NOT list.
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [10]:
# To get the index and columns as lists, we can use the tolist() method.
print(type(df_can.columns.tolist()))
print(type(df_can.columns.tolist()))

<class 'list'>
<class 'list'>

In [11]:
# To view the dimensions of the dataframe, we use the .shape parameter.
df_can.shape

(195, 43)

# **Clean up the datasets**

In [13]:
# First we should remove a few unnecessary columns by using the drop() method :
df_can.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)
df_can.head() # View the new dataframe after we droped it

           OdName AreaName          RegName  ...  2011  2012  2013
0     Afghanistan     Asia    Southern Asia  ...  2203  2635  2004
1         Albania   Europe  Southern Europe  ...   539   620   603
2         Algeria   Africa  Northern Africa  ...  4325  3774  4331
3  American Samoa  Oceania        Polynesia  ...     0     0     0
4         Andorra   Europe  Southern Europe  ...     0     1     1

[5 rows x 38 columns]

In [14]:
# Rename the columns with somthing that can make a sense, we can use rename() method:
df_can.rename(columns={'OdName': 'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.head() # View the dataframe after we rename it

          Country Continent           Region  ...  2011  2012  2013
0     Afghanistan      Asia    Southern Asia  ...  2203  2635  2004
1         Albania    Europe  Southern Europe  ...   539   620   603
2         Algeria    Africa  Northern Africa  ...  4325  3774  4331
3  American Samoa   Oceania        Polynesia  ...     0     0     0
4         Andorra    Europe  Southern Europe  ...     0     1     1

[5 rows x 38 columns]

In [0]:
# We will also add a "Total" column,
# that sums up the total immigrant by country over the entire period from 1980 to 2013 as well as :
df_can['Total'] = df_can.sum(axis=1)

In [16]:
# Finally, let's view a quick summary of each column in our dataframe using the describe() method.
df_can.describe()

               1980          1981  ...          2013          Total
count    195.000000    195.000000  ...    195.000000     195.000000
mean     508.394872    566.989744  ...   1320.702564   32867.451282
std     1949.588546   2152.643752  ...   4237.951988   91785.498686
min        0.000000      0.000000  ...      0.000000       1.000000
25%        0.000000      0.000000  ...     45.000000     952.000000
50%       13.000000     10.000000  ...    213.000000    5018.000000
75%      251.500000    295.500000  ...    796.000000   22239.500000
max    22045.000000  24796.000000  ...  34129.000000  691904.000000

[8 rows x 35 columns]

In [45]:
df_can.head()

               Continent           Region  ...  2013  Total
Country                                    ...
Afghanistan         Asia    Southern Asia  ...  2004  58639
Albania           Europe  Southern Europe  ...   603  15699
Algeria           Africa  Northern Africa  ...  4331  69439
American Samoa   Oceania        Polynesia  ...     0      6
Andorra           Europe  Southern Europe  ...     1     15

[5 rows x 38 columns]

In [46]:
# Let's try filtering on the list of countries ('OdName') and the data for years: 1980 - 1985.
df_can[['Country', 1980,1981, 1982, 1982, 1983, 1984, 1985]] # returns a dataframe
# notice that 'Country' is string, and the years are integers. 
# for the sake of consistency, we will convert all column names to string later on.

KeyError: ignored

In [43]:
# Set the 'Country' as the index by using set_index() method:
df_can.set_index('Country', inplace=True)

KeyError: ignored

In [21]:
df_can.head(3)

            Continent           Region             DevName  ...  2012  2013  Total
Country                                                     ...
Afghanistan      Asia    Southern Asia  Developing regions  ...  2635  2004  58639
Albania        Europe  Southern Europe   Developed regions  ...   620   603  15699
Algeria        Africa  Northern Africa  Developing regions  ...  3774  4331  69439

[3 rows x 38 columns]

In [0]:
# The opposite of set is reset. So to reset the index, we can use df_can.reset_index() method :

In [23]:
# Let's view the number of immigrants from Japan (row 87) for the following scenarios:  
# The full row data (all columns) 2. For year 2013 3. For years 1980 to 1985
# 1. the full row data (all columns)
print(df_can.loc['Japan'])

Continent                 Asia
Region            Eastern Asia
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    27707
Name: Japan, dtype: object

In [24]:
# 2. for the year 2013 :
print(df_can.loc['Japan', 2013])

982

In [25]:
# 3. for years 1980 to 1985:
print(df_can.loc['Japan',[1980, 1981, 1982, 1983, 1984, 1985]])

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

In [30]:
# Convert the columns names from intigers types to strings to avoid some confusions :
df_can.columns = list(map(str, df_can.columns))
[print(type(x)) for x in df_can.columns.values] # check type of column headers

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [32]:
#Filtering based on a criteria
#To filter the dataframe based on a condition, we simply pass the condition as a boolean vector.
# 1. Create the conditional boolean series:
conditional = df_can['Continent'] == 'Asia'
print(conditional)

Country
Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [33]:
# 2. pass this conditional into the dataframe :
df_can[conditional]

                                               Continent  ...   Total
Country                                                   ...
Afghanistan                                         Asia  ...   58639
Armenia                                             Asia  ...    3310
Azerbaijan                                          Asia  ...    2649
Bahrain                                             Asia  ...     475
Bangladesh                                          Asia  ...   65568
Bhutan                                              Asia  ...    5876
Brunei Darussalam                                   Asia  ...     600
Cambodia                                            Asia  ...    6538
China                                               Asia  ...  659962
China, Hong Kong Special Administrative Region      Asia  ...    9327
China, Macao Special Administrative Region          Asia  ...     284
Cyprus                                              Asia  ...    1126
Democratic People's Republic of Korea               Asia  ...     388
Georgia                                             Asia  ...    2068
India                                               Asia  ...  691904
Indonesia                                           Asia  ...   13150
Iran (Islamic Republic of)                          Asia  ...  175923
Iraq                                                Asia  ...   69789
Israel                                              Asia  ...   66508
Japan                                               Asia  ...   27707
Jordan                                              Asia  ...   35406
Kazakhstan                                          Asia  ...    8490
Kuwait                                              Asia  ...    2025
Kyrgyzstan                                          Asia  ...    2353
Lao People's Democratic Republic                    Asia  ...    1089
Lebanon                                             Asia  ...  115359
Malaysia                                            Asia  ...   24417
Maldives                                            Asia  ...      30
Mongolia                                            Asia  ...     952
Myanmar                                             Asia  ...    9245
Nepal                                               Asia  ...   10222
Oman                                                Asia  ...     224
Pakistan                                            Asia  ...  241600
Philippines                                         Asia  ...  511391
Qatar                                               Asia  ...     157
Republic of Korea                                   Asia  ...  142581
Saudi Arabia                                        Asia  ...    3425
Singapore                                           Asia  ...   14579
Sri Lanka                                           Asia  ...  148358
State of Palestine                                  Asia  ...    6512
Syrian Arab Republic                                Asia  ...   31485
Tajikistan                                          Asia  ...     503
Thailand                                            Asia  ...    9174
Turkey                                              Asia  ...   31781
Turkmenistan                                        Asia  ...     310
United Arab Emirates                                Asia  ...     836
Uzbekistan                                          Asia  ...    3368
Viet Nam                                            Asia  ...   97146
Yemen                                               Asia  ...    2985

[49 rows x 38 columns]

In [40]:
# we can pass mutliple criteria in the same line. 
# let's filter for AreaNAme = Asia and RegName = Southern Asia
df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

                           Continent         Region  ...   2013   Total
Country                                              ...
Afghanistan                     Asia  Southern Asia  ...   2004   58639
Bangladesh                      Asia  Southern Asia  ...   3789   65568
Bhutan                          Asia  Southern Asia  ...    487    5876
India                           Asia  Southern Asia  ...  33087  691904
Iran (Islamic Republic of)      Asia  Southern Asia  ...  11291  175923
Maldives                        Asia  Southern Asia  ...      1      30
Nepal                           Asia  Southern Asia  ...   1308   10222
Pakistan                        Asia  Southern Asia  ...  12603  241600
Sri Lanka                       Asia  Southern Asia  ...   2394  148358

[9 rows x 38 columns]

# **Visualizing Data using Matplotlibt**

In [0]:
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [37]:
print('Matplotlib version: ', mpl.__version__)

Matplotlib version:  3.2.1

#  Plotting in pandas:

In [0]:
#Fortunately, pandas has a built-in implementation of Matplotlib that we can use. 
#Plotting in pandas is as simple as appending a .plot() method to a series or dataframe.

**Line Plots(Series / Dataframe):**

In [41]:
# Haiti QuickEarth 2010 :
# first we will extract the data series for haiti
haiti = df_can.loc['Haiti', years] # passing in years 1980 - 2013 to exclude the 'total' column
haiti.head()

NameError: ignored